.modalParent {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  top: 10%;
  max-width: 80%;
  max-height: 80%;
  overflow: auto;
}
.imgsParent{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.imgStyle {
  width: 33%;
  object-fit: cover; /* To maintain aspect ratio */
}

/* Media query for mobile view */
@media (max-width: 768px) {
  .imgStyle {
    width: 50%;
  }
}

.flexContainer {
  display: flex;
  flex-wrap: wrap; /* Allows the images to wrap onto the next line when there isn't enough space */
  justify-content: space-around; /* Evenly distributes the remaining space around the items */
}